/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* =========================
   Button Group Container
========================= */
.btn-grp {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 24px 0px;
}

.btn-grp div {
  display: flex;
  column-gap: 8px;
}

/* =========================
   General Button Styles
========================= */
.btn-grp button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  background-color: initial;
  color: grey;
  outline: 1px solid grey;
}

/* =========================
   Previous Button
========================= */
button[name='previous'] {
  background-color: rgb(150, 150, 150);
  color: aliceblue;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button[name='previous']:hover {
  background-color: rgb(120, 120, 120);
}

button[name='previous'] .btn-icon {
  margin-right: 8px;
}

/* =========================
   Next Step Button
========================= */
button[name='nextstep'] {
  background-color: #8070c4;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms;
  outline: none;
}

button[name='nextstep']:hover,
button[name='nextstep']:focus {
  background-color: #7260bf;
}

button[name='nextstep'] .btn-icon {
  margin-left: 8px;
}

/* =========================
   Add-Another-Education / Clear Buttons
========================= */
button[name='addanothereducation'] {
  display: flex;
  align-items: center;
}

button[name='addanothereducation'] .btn-icon {
  margin-right: 8px;
  height: 18px;
}

button[name='clear'],
button[name='addanothereducation'] {
  transition: color 100ms;
}

button[name='clear']:hover,
button[name='addanothereducation']:hover {
  text-decoration: underline;
  color: rgb(100, 100, 100);
}

/* =========================
   Button Icons
========================= */
.btn-icon {
  height: 16px;
}

#personal-details .btn-grp {
  margin-top: 0px;
}
