.education-preview {
  display: grid;
  grid-template-columns: 200px 1fr;
  justify-items: flex-start;
  gap: 6px;
}

.edu-preview-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 20px 0px;
  font-size: 16px;
  background-color: transparent;
}

.edu-preview-btn:hover {
  background-color: rgb(238, 238, 238);
}

.edu-preview-school {
  font-weight: 700;
}

.preview-list {
  grid-column: span 2;
  list-style-type: none;
}
