legend {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin-bottom: 12px;
  text-align: left;
}

.custom-divider {
  border-top: 2px solid #bbb;
  border-radius: 2px;
  width: 100%;
  height: min-content;
  margin-bottom: 12px;
}
