fieldset {
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  padding: 40px;
  border: none;
}

fieldset input {
  width: 100%;
}

@media (min-width: 700px) {
  fieldset {
    max-width: 850px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  fieldset .fieldset-legend {
    grid-column: span 2;
  }

  #address-form {
    grid-column: span 2;
  }

  #address-form input {
    width: 100%;
  }

  .buttonContainer {
    grid-column: span 2;
  }
}
