/* input:required  */

.form-control > label {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-control input {
  appearance: none;
  height: 48px;
  border: 1px solid #dbdde1;
  border-radius: 6px;
  outline: none;
  padding: 8px 16px;
  font-size: 1.8rem;
}
