form {
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  padding: 40px;
}

form input {
  width: 100%;
}

/* section .form-control {
  width: 100%;
} */

/* and (max-width: 1199px)  */
@media (min-width: 700px) {
  form {
    max-width: 850px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  form .sectionHeader {
    grid-column: span 2;
  }

  #address-form {
    grid-column: span 2;
  }

  #address-form input {
    width: 100%;
  }

  .buttonContainer {
    grid-column: span 2;
  }
}
