.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sectionHeader > h1 {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin: 12px 0px;
}

.custom-divider {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  width: 100%;
  height: min-content;
  margin-bottom: 12px;
}
