.buttonContainer {
  display: grid;
  place-items: center;
}

button[name='nextstep'] {
  margin-top: 28px;
  min-width: 300px;
  background-color: #8070c4;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 60px;
}

button[name='nextstep']:hover,
button[name='nextstep']:focus {
  background-color: #7260bf;
  text-decoration: underline;
}

button[name='previous'] {
  background-color: transparent;
  border-style: none;
  color: #afafaf;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

button[name='previous']:hover,
button[name='previous']:focus {
  text-decoration: underline;
  color: #888888;
}

button[name='previous']::before {
  content: 'Ë‚';
  display: inline-block;
  margin-right: 8px;
}
