.template-container {
  max-width: 800px;
  background-color: white;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  border: none;
  margin: auto;
}

.template-header {
  width: 100%;
  /* background-color: rgb(63, 101, 146); */
  background-color: #4c6cb5;
  color: aliceblue;
  font-size: 48px;
  text-align: left;
  padding: 16px 32px;
}

.template-container .buttonContainer {
  grid-column: span 1;
  padding-top: 16px;
}

.template-container button[name='previous'] {
  margin-top: 24px;
  justify-content: center;
  border: none;
  padding: 16px 24px;
  background-color: rgb(175, 175, 175);
}

.template-container button[name='previous']:hover {
  background-color: rgb(150, 150, 150);
}

@media (max-width: 700px) {
  .template-header {
    font-size: 32px;
  }
}
